[Unit]
Description=Terraria start

[Service]
ExecStart=screen -DmS terra bash -c "/opt/TerrariaServer.bin.x86_64 -config /opt/config/systemd/Terraria_server/config.txt"
ExecStop=screen -r terra -X stuff "exit\n"
Restart=on-failure
User=Terraria
Group=Terraria
KillMode=none

[Install]
WantedBy=multi-user.target
